# HERE IS HOW IT BEGAN

1st stage of programming language with python.

In [1]:
print("Hello World")

Hello World

# VARIABLES AND OPERATORS

Variables are container used to store data type.

Types of Variable
Camel Case = casalCase
Pascal Case = PascalCase
Snake case = snake_case

In [4]:
x = 3

In [1]:
%whos

Interactive namespace is empty.

In [6]:
print(type(x))

<class 'int'>

In [10]:
a,b,c,d = 5,2+6j,3.5,2.0

In [11]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          complex    (2+6j)
c          float      3.5
d          float      2.0
x          int        3

To delete a variable, use del and the variable name. e.g

del abcd

In [ ]:
Operators: are functions
    
    Symbol              task performed
     *                  Multiplication
     -                  Subtraction
     /                  Division
     +                  Addition
     %                  mod(this returns the reminder of division. eg 11%2 = 1)
     ==                 Equal to
     //                 Floor division(this returns the quotient value. eg 11//2 = 5)
     **                 Raise to power

# DATA TYPES


1. Strings: 'single quote', "double quote", """ multiline """
2. numbers: int, float
3. boolen: True or False
4. Dictionary: key value indicator {"name": "Abigail Ogun", "age":30, "gender":"female", "siblings":["Adeyemi","Tomiwa"]}
   It is a collection which is ordered*, changeable and do not allow duplicates.
5. Tuple: it is used to store multiple items in a single variable. It is a collection which is ordered and unchangeable.
6. list: []
7. Set:{} only uniqe values are outputed. it can also be used to identify relations in 2 data sets.
    It is a collection which is unordered, unchangeable, and unindexed.

 Boolen Type and comparisons.
 
 Bool has two statment which is either TRUE or FALSE
 
    Symbol             task performed
      ==                equal to
      !=                not equal to
      <                 less than
      >                 greater than
      <=                less than or equal to
      >=                greater than or equal to

Types of boolen operators are:
    And, or , not
    
   Note: True and True     = True
         True and False    = False
         False and False   = False
         False or False    = False
         not(true).        = False
         note(false)       = True

In [27]:
k = True
h = True
i = False

In [30]:
print(k and h)
print(i and k)

True
False

In [31]:
print(k or h)

True

In [38]:
not(k)

False

In [39]:
not((k and h) or (i and k))

False

In [44]:
m = 3<5

In [45]:
print(type(m))
print(m)

<class 'bool'>
True

In [46]:
print((not(2!=3) and True) or (False and True))

False

 Number Type

x = 2.         integer
y = 3.5.       float
z = 2+5j.      complex

In [1]:
a = 10
b = 4
print(a + b)

14

In [3]:
x =input("Enter a number : ")

Enter a number : 56

In [4]:
type(x)

str

In [48]:
x = int(x)

In [49]:
print(x)

3

In [12]:
print(x-32)

24

# FUNCTIONS

1. round() function rounds the input value to a specific number of places or to the nearest integer.

Round is a function while the int or float is an arguement

In [53]:
print(round(5.89392))
print(round(5.89514,2))

6
5.9

2. Divmod(x,y): this outputs the quotent and the reminder in a tuple.

In [2]:
divmod(27,6)

(4, 3)

In [55]:
27//6

4

In [56]:
27%6

3

isinstance()returns true if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [58]:
print(isinstance(1,int))
print(isinstance(2.5,int))
print(isinstance(2.5,(int,float)))

True
False
True

In [3]:
divmod(27,6)

(4, 3)

In [10]:
def first_func():
    print('we did it')

In [11]:
first_func()

we did it

In [31]:
def number_squared(number):
    print (number**2)

In [32]:
number_squared(5)

25

In [33]:
def number_squared_cust(number, power):
    print (number**power)

In [ ]:
number_squared_cust(5,3)

125

# Method Description

split = split(",")

len() = length of a text

slice = Specify the start index and the end index, separated by a colon, to return a part of the string. e.g print(b[2:5])

upper()

lower()

replace("a","b")

concertinanate using "+"

format() using {}. Use the format() method to insert numbers into strings:

\' = Single Quote

\\ = Backslash

\n = New Line

\r = Carriage Return

\t = Tab

\b = Backspace

\f = Form Feed

\ooo = Octal value

\xhh = Hex value 

# String Methods

""" 
capitalize() = Converts the first character to upper case

casefold() = Converts string into lower case

center() = Returns a centered string

count() = Returns the number of times a specified value occurs in a string

encode() = Returns an encoded version of the string

endswith() = Returns true if the string ends with the specified value

expandtabs() = Sets the tab size of the string

find() = Searches the string for a specified value and returns the position of where it was found

format() = Formats specified values in a string

format_map() = Formats specified values in a string

index() = Searches the string for a specified value and returns the position of where it was found

isalnum() = Returns True if all characters in the string are alphanumeric

isalpha() = Returns True if all characters in the string are in the alphabet

isascii() = Returns True if all characters in the string are ascii characters

isdecimal()  = Returns True if all characters in the string are decimals

isdigit()	Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	Returns True if all characters in the string are lower case

isnumeric()	Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Joins the elements of an iterable to the end of the string

ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of the string

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list

rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning """

In [ ]:
# key word argument

"*" or "**" in front of an arg is passes when the size of the input is not known

In [44]:
args_tuple = (4,2,8,9,1)

def number_arg(*number):
    print (number[0]*number[2])

In [45]:
number_arg(*args_tuple)

32

In [46]:
def number_squared_cust(number, power):
    print (number**power)

In [47]:
number_squared_cust(power =5, number =3)

243

In [63]:
def number_karg(**number):
    print ('My number is: ' + number['integer'] + " "+ 'My second number is: ' + number['interger2'])

In [64]:
number_karg(integer = '2345',interger2 = '3456')

My number is: 2345 My second number is: 3456

# Converting data types

In [66]:
num_int = 7
type(num_int)

int

In [67]:
num_str = '7'
type(num_str)

str

In [68]:
num_str_cont = int(num_str)
type(num_str)

str

In [70]:
sum_num = num_int + num_str_cont
print(sum_num)

14

In [72]:
list_type = [1,2,5,6,3]
type(list_type)

list

In [73]:
type(tuple(list_type))

tuple

In [74]:
list_type = [1,6,7,7,3,2,5,3,2,0]

In [75]:
set(list_type)

{0, 1, 2, 3, 5, 6, 7}

In [77]:
type(set(list_type))

set

In [83]:
dict_type = {'name': 'Abigail', 'Age':30, 'Hair colour': 'Black'}

In [84]:
type(dict_type)

dict

In [86]:
dict_type.items()

dict_items([('name', 'Abigail'), ('Age', 30), ('Hair colour', 'Black')])

In [87]:
dict_type.values()

dict_values(['Abigail', 30, 'Black'])

In [88]:
dict_type.keys()

dict_keys(['name', 'Age', 'Hair colour'])

In [90]:
list(dict_type.keys())

['name', 'Age', 'Hair colour']

# BMI Calculator

In [96]:
name = input("Enter your name: ")

weight = int(input("Enter your weight in pounds: "))
height = int(input("Enter your height in cm: "))
BMI = (weight/ height/ height)*10000

print(round(BMI,1))

if BMI>0:
    if(BMI<18.5):
        print(name + ", you are underweight.")
    elif(BMI<=24.9):
        print(name + ", you are normal weight.")
    elif(BMI<29.9):
        print(name + ", you are overweight.")
    elif(BMI<34.9):
        print(name + ", you are obese.")
    elif(BMI<39.9):
        print(name + ", you are severely obese.")
    else:
        print(name + ", you are morbidely obese.")
else:
    print("Enter valid input")

Enter your name:  Abi
Enter your weight in pounds:  64
Enter your height in cm:  168

22.7
Abi, you are normal weight.